@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>A little bit about Beach City Findings</h1>
    <p>
        Beach City Findings was founded in 2014 with the intention of giving new life to old items. 
        In another life, Alicia Latta was a software developer by day and furniture refurbisher by night.  
        But soon Alicia's innate skills with all things involving vintage, paint, and design put her 
        even more in demand than his programming talents and what started out as a way to satisfy 
        her creative side became all-consuming.  Beach City Findings is not only a vintage wonderland 
        of refurbished furniture, it also honors her tech background by employing a state 
        of the art online ordering system that makes it easy for anybody with internet access to 
        order her one of a kind, locally-sourced pieces for their own home.
    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
